gradle/
Topics/
build.gradle
course-info.yaml
course-remote-info.yaml
gradlew
gradlew.bat
settings.gradle
Anti-Fraud\ System/Authentication/
Anti-Fraud\ System/Authorization/
Anti-Fraud\ System/Feedback/
Anti-Fraud\ System/Rule-based system/
Anti-Fraud\ System/Simple transaction validation/
Anti-Fraud\ System/Stolen\ cards\ \ suspicious\ IPs
Anti-Fraud\ System/lesson-info.yaml
Anti-Fraud\ System/task/test/
Anti-Fraud\ System/task/build.gradle
/Anti-Fraud System/Stolen cards   suspicious IPs/
/.idea/
/.gradle/
